.list {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 5%;
  margin-top: 10%;
  padding: 5%;
}

.sectionCard {
  margin-left: 150%;
  margin-right: 150%;
}
.unorder-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
