.element{
  position: static;
  padding: 10px;
}

.unorder-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
  position: static;
  
}
.list-card{
  display: grid;
  margin: 20px;
  
}
h3{
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
}
h4{
  font-weight: lighter;
  font-size: 25px;
}
p{
  font-style: italic;
  font-size: 20px;
}