.sideBar-mainContent{
  display: grid;
  grid-template-columns: 1fr 10fr ;
}
.maincontent{
  display: gird;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.homeContent {
    text-align: center;
    margin: 20px;
}

.homeContent h3 {
    margin: 20px;
}