.search-button{
    margin-left: 10%;
    margin-right: 10%;
}
.input-search{
    width: 500px;
    height: 45px;
    margin:1%;
    
}
.input-search-button, .itemDrop {
    margin: 1%;
    /* margin-top: 3%; */
    padding: 0 10px;
    height: 50px;
    font-size: 25px;
    color: blue;
}
.text{
    font-size: 30px;
    color: blue;
    margin-left: 1%;
}
/* .itemDrop{
    width: 10%;
    height: 50px;
} */
select {
    font-size: 20px;
    
}